.dashboard {
    display: flex;
    min-height: 100vh;
    background-color: #f4f4f9;
}

.sidebar {
    width: 250px;
    background: #566473;
    color: white;
    padding: 20px;
    transition: all 0.3s ease;
    overflow: hidden;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
}

.collapsed {
    width: 70px;
}

.toggleButton {
    background: transparent;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
}

.toggleButton:hover {
    color: #cce7ff;
}

.sidebarContent h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: black;
    background-color: #566473;

}

.underLine {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    transition: color 0.3s;
}

.underLine:hover {
    color: black;
    
}

.mainContent {
    flex: 1;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.welcomeBanner {
    /* background: #007bff; */
    /* color: white; */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    float:right;
}

.profileOverview {
    padding: 20px;
    background: #f8f9fa;
    border-radius: 10px;
    margin-bottom: 20px;
}

.announcements {
    background: #fff3cd;
    padding: 15px;
    border-left: 4px solid #ffc107;
    border-radius: 5px;
}
