/* student.module.css */
.sidebar {
    background-color: #3b3b3b; /* Darker gray for better contrast */
    color: #322e2e; /* White text for good readability */
    width: 250px;
    transition: width 0.3s;
    padding: 20px;
    position: fixed;
    height: 100vh;
}

.collapsed {
    width: 80px;
}

.toggleButton {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 20px;
}

.sidebarContent h2 {
    color: #e0e0e0; 
    font-weight: bold;
}

.sidebarContent ul {
    list-style: none;
    padding: 0;
}

.sidebarContent ul li {
    margin: 10px 0;
}

.underLine {
    text-decoration: none;
    color:#322e2e;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 8px;
    /* transition: background 0.3s; */
}

/* .underLine:hover {
    background-color: #575757;
    color: white;
} */

.mainContent {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s;
}

.collapsed + .mainContent {
    margin-left: 80px;
}
