
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    padding:auto
}
.radio{
    display: flex;
    margin: 2%;
}

.input{
    border-radius: 5px;
}
.form {
    width: 50%;
    padding: 4%;
    border-radius: 7px;
    border: 1px solid black;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.9);
}
.box{
    height: 100vh;
    background: linear-gradient(to right, #4a90e2, #9013fe);

    
}